.sidenav-col {
  background: rgb(195, 232, 247);
  color:#f7f7f7;
}

label {
  display: block;
  /* margin-top: 10px; */
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

:root {
  /*Background color*/
  --primary-color: #0048bb;
  --primary-alt-color: #0048bb;
  --dark-color: #212529;
  --dark-light-color: #5c636a;
  --white-color: #fff;
  --light-color: #f7f8f9;
  --gray-ligt-color: #eee;

  /*Text color*/
  --text-primary-color: #012d75;

  /*Text size*/
  --heading-text-size: 22px;
  --sub-heading-text-size: 18px;
}

.page-title {
  font-size: 1.5rem;
  color: var(--text-primary-color);
}
.link {
  color: var(--text-primary-color);
  cursor: pointer;
}
.link:hover {
  color: var(--bs-gray);
}
.add-cursor {
  cursor: pointer;
}


#toast-container {
  margin-top: 1rem;
}

#toast-container.toast-top-full-width>.toast {
  max-width: 570px;
}

#toast-container>.toast-success {
  background-color: #35c8c3;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

#toast-container>.toast-success:hover {
  background-color: #35c8c3;
  opacity:1;
  box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}